.navtop {
    background-color: #2f3947;
    height: 45px;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1000;


}
.navtop div {
    display: flex;
    margin: 0 auto;
    width: auto;
    height: 100%;
}
.navtop div h1, .navtop div a {
    display: inline-flex;
    align-items: center;
}
.navtop div h1 {
    flex: 1;
    font-size: 20px;
    padding: 0;
    margin: 2px 0 0 30px;
    color: #eaebed;
    font-weight: bold;
}
.navtop div a {
    padding: 0 20px;
    text-decoration: none;
    color: #c1c4c8;
    font-weight: bold;
}
.navtop div a i {
    padding: 2px 8px 0 0;
}
.navtop div h1 i {
    padding: 0 7px 0 0;
}
.navtop div a:hover {
    color: #eaebed;
}
body.loggedin {
    background-color: #f3f4f7;
}
.content {
    width: 1000px;
    margin: 0 auto;
}
.content h2 {
    margin: 0;
    padding: 25px 0;
    font-size: 22px;
    border-bottom: 1px solid #e0e0e3;
    color: #4a536e;
}
.content > p, .content > div {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    margin: 25px 0;
    padding: 25px;
    background-color: #fff;
}
.content > p table td, .content > div table td {
    padding: 5px;
}
.content > p table td:first-child, .content > div table td:first-child {
    font-weight: bold;
    color: #4a536e;
    padding-right: 15px;
}
.content > div p {
    padding: 5px;
    margin: 0 0 10px 0;
}

body {
    font-family: "Lato", sans-serif;
    width: 100%;
    padding-top:50px;
    /*    height: auto;*/

    margin: 0px auto;
    margin-bottom: 5px;
    /*        overflow: hidden; */
}

/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 200px;
    background-color: #111;
    overflow: hidden;
    padding-top: 5px;
    position: fixed;
    z-index: 1;
    top: 45px;
    left: 0;
    overflow-x: hidden;

}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    

    color: #c1c4c8;
    font-weight: bold;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
}

/* Main content */
.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
    background-color: green;
    color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

/* Style the tab content */
.tabcontent {
    overflow-y: auto;
    overflow-x: auto;
    padding: 10px;
    margin-left: 200px;
    padding-bottom: 20px;

}



